[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

krippendorff = ">=0.2.2"
mysqlclient = "*"
numpy = "*"
tweepy = "*"
tqdm = "*"


[requires]

python_version = "3.6"
